.album {
  position: relative;
}

.thumbnail {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 24px;
  overflow: hidden;
  background-color: #eeeeee;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.lightBox {
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.lightBox.open {
  visibility: visible;
}

.lightBox .imageContainer {
  width: 80vw;
  padding-bottom: 80vw;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 49px rgb(0 0 0 / 15%);
  transform: scale(0.25);
  transition: transform 500ms;
}

.lightBox.open .imageContainer {
  transform: scale(1);
}

.lightBox .imageContainer img {
  position: absolute;
  width: 100%;
  height: auto;
  border: 12px solid white;
}

@media (min-width: 800px) {
  .lightBox .imageContainer {
    width: 80vh;
    padding-bottom: 80vh;
  }
}
